<a href="https://colab.research.google.com/github/aakinduro/alaba1_demo/blob/main/pythonpractice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(5)
print(5.0)
print("5")
print(True)
print(["Lovers", "Haters", "Needers"])

5
5.0
5
True
['Lovers', 'Haters', 'Needers']

In [2]:
print(type(5))
print(type(5.0))
print(type("5"))
print(type(True))
print(type(["Lovers", "Haters", "Needers"]))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>

In [3]:
name = 'Kofi'
age = 41
height = 1.82
hobbies = ["Artificial Intelligence", "Gaming", "Functional Medicine"]
is_alive = True

fmesg = f"{name} is {age} and {height * 100} cm" # formatted string

print(name, age, height)  # print with multiple args = spaced output
print(hobbies)
print(is_alive)


print(fmesg)

Kofi 41 1.82
['Artificial Intelligence', 'Gaming', 'Functional Medicine']
True
Kofi is 41 and 182.0 cm

In [4]:
age += 1

age   # the last line of a jupyter cell is always printed

42

In [5]:
print( "Kofi " + "Glover")
print( 2 ** 3 )    # 2 * 2 * 2 = 2^3
print( "-" * 3 )
print( "@" in "kofi.glover@qa.com")
print( True and False )
print( ["Cake", "Cream"] + ["Flour", "Sugar"] )
print( 1.14 <=  2.13 )

Kofi Glover
8
---
True
False
['Cake', 'Cream', 'Flour', 'Sugar']
True

In [7]:
michael_bp = 175
alice_bp = 175
eve_bp = 140

In [9]:
michael_bp == alice_bp

True

In [10]:
michael_bp != alice_bp

False

In [11]:
michael_bp != eve_bp

True

In [12]:
michael_bp >= eve_bp

True

In [15]:
("WARNING" in message) and (michael_bp >= eve_bp)

True

In [17]:
safe_max = 150
safe_min = 80

In [18]:
michael_bp < safe_max

False

In [19]:
eve_bp < safe_max

True

In [20]:
eve_bp < safe_max

True

In [21]:
(eve_bp < safe_max) or (michael_bp < safe_max)

True

In [22]:
not ("WARNING" in message)

False

In [23]:
"WARNING" not in message

False

In [24]:
if ("WARNING" in message) and (michael_bp > safe_max):
    print("GO TO HOSPITAL")
else:
    print("STAY AT HOME")

GO TO HOSPITAL

In [25]:
if ("WARNING" in message) and (michael_bp > safe_max):
    print("GO TO HOSPITAL")
else:
    print("STAY AT HOME")

GO TO HOSPITAL

In [26]:

name = "Kofi"

print(name)          # output the value of name
print( id(name) )    # output the memory location of the value of name
print( type(name) )  # output the type of the value of name
print( len(name) )   # output the length of (the value of) name

Kofi
139867369087344
<class 'str'>
4

In [27]:
# data.operation(requirements)
# obj.method(parameters)
# ask name to upper() itself 
# ask name if it startswith(M)

print( name.upper()  )
print( name.lower()   )
print( name.startswith("K") )
print( name.endswith("K") )

# all data in python is an object
# objects are data structures:  values (properties), types (class), id, methods

KOFI
kofi
True
False

In [28]:
dir(name)[-5:] # lists the last 5 attributes & methods of the object

['swapcase', 'title', 'translate', 'upper', 'zfill']

In [29]:
def error(pred, obv):
    return (pred - obv) ** 2

error(3, 3.3)

0.0899999999999999

In [33]:
help(predict)

Help on function predict in module __main__:

predict(age, height, parameters=(0.5, 0.5, 0))
    Predict a weight (kg) from an age (yr), height (cm) and
        parameters :
            (age importance, height importance, base weight)

In [34]:
predict(10, 150, (0.6, 0.4, 0.2)) # pass arguments by position

56.0

In [35]:
predict(10, 150) # pass arguments by position, one by default

42.5

In [36]:
predict(age=10, height=150) # pass by name

42.5

In [37]:
# functions = procedures
# can also not return anything

def show_results(results):
    print("-" * 10)
    print(results)
    print("-" * 10)
    
show_results([12, 12, 15])   # writes to screen, but has no return value

def distance(x1, x2):
    return (x2 - x1) ** 2   # euclidean distance, aka. L2 norm
    

dist = distance(10, 12)
print(dist * 1.1)  # calculated value can be stored in variable


rtn = show_results([10, 12])

print(type(rtn))
print(rtn) # nothing is stored here, no return value

----------
[12, 12, 15]
----------
4.4
----------
[10, 12]
----------
<class 'NoneType'>
None

In [38]:
def mean(x, y, z):
    return (x + y + z)/3

def cube(x):
    return x ** 3

def is_adult(age):
    return age >= 18


def show(m, c, a):
    print("mean:", m)
    print("cube:", c)
    print("age:", a)
    
mean_ages = mean(18,18,20)
two_late = cube(2)
teen = is_adult(15)

show(mean_ages, two_late, teen)

mean: 18.666666666666668
cube: 8
age: False

In [39]:
# strings

quote = "Be the change you wish to see in the world!"

print( quote[0] )   # first
print( quote[1] )   # second
print( quote[-2] )  # second from last
print( quote[-1] )  # last

B
e
d
!

In [40]:
print( quote[0:2] )  # zero until postn-2

Be

In [41]:
print( quote[0:2] )  # zero until postn-2

Be

In [43]:
print( quote[0:-6] ) # beginning until -6th postn

Be the change you wish to see in the

In [44]:
print( quote[0:-6]  + " bed" )

Be the change you wish to see in the  bed

In [45]:
print(quote[:2])    # leave off start postn = zero
print(quote[-6:] )  # leave off end postn = end of string

Be
world!

In [46]:
# tuple

point = (10, 20, 30)

print( point[0] )
print( point[1] )
print( point[-1] )

print( point[0:2] ) #slice, as with strings

# point[0] = 15 # error: not allowed to overwrite

# technically, () not required...

address = "OldSt", "London"

print(address)

10
20
30
(10, 20)
('OldSt', 'London')

In [47]:
# lists
# y target customer satisfaction
# x customer features 
# (days-since-first-purchase, total-spent, nearest-store, addresss)
#  

x = [300, 1000, "London", ("Old Street", "London")]

print(x)
print(len(x))

print(x[-1])
print(len(x[-1]))

[300, 1000, 'London', ('Old Street', 'London')]
4
('Old Street', 'London')
2

In [48]:
x.append(1)
x

[300, 1000, 'London', ('Old Street', 'London'), 1]

In [49]:
x.pop()

1

In [50]:
print(x)
x.insert(0, 1) # insert at postn 0, the element 1

print(x)

[300, 1000, 'London', ('Old Street', 'London')]
[1, 300, 1000, 'London', ('Old Street', 'London')]

In [54]:
def error(y_pred, y, i):
    return (y_pred - y[i]) ** 2

In [55]:
y = [2, 3, 5, 8]
guess = 2.2

error(guess, y, 1)   #   (2.2 - 3) ** 2

0.6399999999999997

In [56]:
user = {
    "name": "kofi",
    "age": 41,
    "location": "uk"
}

print(user["name"])     # use string keys to look up value rather than int index
print(user["age"])
print(user["location"])

kofi
41
uk

In [57]:
# data science example: labelling for Fraud|NotFraud
# dict keys can be lots of diff. thigns, not just strings...
# but must be unique!
# key = (age, days-since-purchase-of-insurance)  
user = {
    (18, 13) : "Fraud",
    (60, 300) : "NotFraud"
}

user[(18, 13)]

'Fraud'

In [58]:
# dictionaries more commonly are more like matrices...
users = {
    "age-at-purchase": [18, 60],
    "days-from-purcahse": [13, 300]
}

ages = users['age-at-purchase']

sum(ages)/len(ages)

39.0

In [59]:
user_age = 18

if user_age > 65:                      # colons
    print("See Retirement Plans")      # indentation
elif user_age > 21:                    # keyword, elif
    print("See Vocation Plans")
elif user_age > 13:
    print("See Education Plans")
else:
    print("See your mother!")

See Education Plans

In [60]:
# while loops are rare, usually bad -- repeating

ratings = [5,5,6,7,8,1]

while len(ratings) > 0:
    print(ratings.pop())    # remove last one

1
8
7
6
5
5

In [61]:
ratings

[]

In [62]:
# for loop -- data processing loop

ratings = [5,5,6,7,8,1]

for element in ratings:      # for name-of-each-element  in source-data-input
    print(element)           # algorithm for processing each-element
    
ratings

5
5
6
7
8
1

[5, 5, 6, 7, 8, 1]

In [69]:
hrs = [60, 70, 80]
bps = [100, 200, 250]

In [70]:
bundled = list(zip(hrs, bps))
bundled

[(60, 100), (70, 200), (80, 250)]

In [71]:
for hr, bp in zip(hrs, bps):
    print(hr, bp)

60 100
70 200
80 250

In [72]:
for hr, bp in zip(hrs, bps):
    print("We measured: ", hr, "bpm")
    print("We measured: ", bp, "mmHg")
    
    if (hr > 200) or (bp > 200):
        print("WARNING")
    else:
        print("OK")
        
    print() # prints an empty line

We measured:  60 bpm
We measured:  100 mmHg
OK

We measured:  70 bpm
We measured:  200 mmHg
OK

We measured:  80 bpm
We measured:  250 mmHg
WARNING

In [73]:
list(range(0, 100, 20))

[0, 20, 40, 60, 80]

In [74]:
for i in range(0, 100, 20):
    print(i)

0
20
40
60
80

In [75]:
predicted_hr = []

for hr in range(60, 180, 10):
    predicted_hr.append(0.9 * hr + 1)
    
predicted_hr

[55.0, 64.0, 73.0, 82.0, 91.0, 100.0, 109.0, 118.0, 127.0, 136.0, 145.0, 154.0]

In [76]:
for hr in hr_readings:
    print(hr)

NameError: ignored

In [77]:
# iterators -- like data structures, but whole data not stored...

ten = range(0, 10)

print(ten)

range(0, 10)

In [78]:
for i in ten:      # the range gives a number each go around
    print(i)

0
1
2
3
4
5
6
7
8
9

In [79]:
numbers = list(ten) # collects all data from ten into list, which stores all in memory

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
int(age) < 20

True

In [82]:
str(5) * 2  # "5" * 2

'55'

In [83]:
dict( [ ("name", "Michael"), ("age", 29 )])

{'age': 29, 'name': 'Michael'}